{% extends "base_generic.html" %}

{% block content %}

<hr></hr>
<h2 style="font-family: garamond; font-weight: bolder; padding-left: 100px; color: white;">Author Details</h2>
<p style="padding-left: 100px; color: white;">App has the following record counts:</p>
<ul style="padding-left: 150px; color: white;">
        <li><strong>Authors:</strong> {{ author.user.username }}</li>
        <li><strong>Email:</strong> {{ author.email }}</li>
        <li><strong>Created on:</strong> {{ author.date_created }}</li>
        <li><strong>Credits:</strong> {{ author.credits }}</li>

</ul>
{% endblock %}